flows/Dify/dsl/v4/文润-Pro.yml
app:
  description: 文润是一款基于大型语言模型的智能助手，专注于将英文技术文章（AI、编程、产品、商业等领域）改写为高质量的中文内容。它不仅能准确传达原文信息，更能通过多轮评审和润色，使改写后的文章语言流畅、地道、自然，符合中文表达习惯和技术领域惯例，同时兼顾技术人员和一般读者的阅读体验。
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 文润-Pro
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openrouter:0.0.31@6d9f4aa9c5d2f7a0c5a7ca4870328fb8d93c5f8c04a0cf45a34976723ce4d502
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_batch_limit: 10
        image_file_size_limit: 10
        single_chunk_attachment_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: true
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1739417108713-source-1739591458587-target
      source: '1739417108713'
      sourceHandle: source
      target: '1739591458587'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1739591458587-source-1739418260707-target
      source: '1739591458587'
      sourceHandle: source
      target: '1739418260707'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1739417108713-source-1739591481332-target
      source: '1739417108713'
      sourceHandle: source
      target: '1739591481332'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1739417108713-source-1739591485269-target
      source: '1739417108713'
      sourceHandle: source
      target: '1739591485269'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1739591481332-source-1739418260707-target
      source: '1739591481332'
      sourceHandle: source
      target: '1739418260707'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1739591485269-source-1739418260707-target
      source: '1739591485269'
      sourceHandle: source
      target: '1739418260707'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: llm
      id: 1739418260707-source-1739591515940-target
      source: '1739418260707'
      sourceHandle: source
      target: '1739591515940'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: 1739591515940-source-1739419827927-target
      source: '1739591515940'
      sourceHandle: source
      target: '1739419827927'
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: 1739416823091-source-1739417108713-target
      source: '1739416823091'
      sourceHandle: source
      target: '1739417108713'
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: 输入文章链接
        selected: false
        title: 开始
        type: start
        variables:
        - label: 文章内容
          max_length: 100000
          options: []
          required: true
          type: paragraph
          variable: content
      height: 137
      id: '1739416823091'
      position:
        x: 0
        y: 209
      positionAbsolute:
        x: 0
        y: 209
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: true
          variable_selector:
          - '1739416823091'
          - content
        desc: 使用 Google Gemini2.0 Flash 初步改写，并去除文章无关部分
        model:
          completion_params: {}
          mode: chat
          name: google/gemini-3-pro-preview
          provider: langgenius/openrouter/openrouter
        prompt_template:
        - id: 8347e254-453e-4878-ad31-8c7bc35f77e3
          role: system
          text: "你是一位资深的语言专家，精专于将**原始文章**改写为高质量、地道的中文内容。你的任务不是简单的翻译（如果原文是外文），而是进行深度的内容重塑，在保持原文核心含义和信息完整性的前提下，使文本更符合中文读者的阅读习惯和表达方式。\
            \ 即使原文已经是中文，你也需要进行优化，使其表达更地道、更自然流畅。\n\n**任务目标：**\n\n1.  **深入理解原文：**\n\
            \    *   **语境优先：** 结合上下文、段落关系和全文主旨理解原文，避免孤立处理词句。\n    *   **术语处理：** 准确识别专业术语，使用中文规范表达，必要时进行解释性说明。对于不常见的专业术语，如果中文有更通俗易懂的等价表达，优先使用更通俗的表达，并在首次出现时用括号注明原文术语（如果原文是外文）。\
            \ 例如，可以将 “Artificial Intelligence” 翻译为 “人工智能 (AI)”。如果专业术语在中文领域有多种翻译方式，请选择最权威、最常用的译法，可以参考行业标准或权威词典。如果专业术语在中文中没有完全对应的表达，可以采用意译或解释性翻译，并力求准确传达原文含义。\n\
            \    *   **文化语境考量：**  理解原文的文化背景和语境，进行必要的文化适应性处理，使改写后的内容更符合中文文化习惯。\n  \
            \  *   **信息补全：** 合理推断隐含信息，适当补充，使内容更连贯易懂，但需忠于原文逻辑和主题，避免过度解读。信息补全应仅限于为了使中文表达更流畅自然、更易于理解的必要补充，例如补充必要的连接词、补充省略的主语或宾语、补充上下文缺失的背景信息等。信息补全不得改变原文的核心含义和逻辑，不得添加原文中不存在的新信息或个人观点。\n\
            \n2.  **地道中文表达：**\n    *   **语序调整：**  根据中文习惯调整语序，使文本流畅自然，避免欧化中文句式，多使用更符合中文表达习惯的动宾结构、主谓结构等。\n\
            \    *   **语句优化：**  分析原文语句结构，进行优化，使其更符合地道的中文表达习惯，例如调整句子长度、拆分或合并句子等。\n\
            \    *   **词汇精选：**  选用贴合语境的中文词汇，避免不自然的表达，力求地道精准生动。 例如，多使用更贴近日常口语的表达方式，避免过于书面化的表达\
            \ (除非原文本身是书面风格)。\n    *   **语气匹配：**  准确把握原文语气和情感，自然呈现，避免语气不一致。请仔细分析原文的语气，例如是偏正式严肃还是轻松口语化，并在改写后的中文文本中尽可能保持一致的语气。\n\
            \    *   **灵活表达：**  在理解原文含义基础上进行灵活的中文表达，使改写后的文本更自然流畅。\n    *   **标点规范：**\
            \  严格遵循中文标点符号使用规范。 注意中文习惯的表达习惯，例如时间、地点、人名的表达顺序，以及一些约定俗成的表达方式。 请避免类似 “对于…来说”\
            \ 这种欧化中文表达，改用更自然的 “关于…” 或 “就…而言”。\n\n3.  **信息完整准确：**\n    *   **全面覆盖：**\
            \  完整准确传达原文所有关键信息，不得遗漏、增添或歪曲。 优先保留原文的核心论点、主要论据和重要事实数据。 对于原文中用于支撑论点或提供背景信息的例子、案例、数据等，也应尽量保留，除非明显与核心信息无关或过于冗余。\
            \ 如果原文中存在一些细节描写或修辞手法，例如比喻、拟人等，如果它们有助于理解原文核心含义或增强表达效果，也应尽量在改写后的文本中体现。 请特别注意保留原文中的数字、专有名词、时间、地点等关键信息，避免在改写过程中丢失或错误。\n\
            \    *   **重点突出：**  调整信息呈现顺序和方式，突出重点，更易理解。\n\n4.  **内容审查剔除无关信息：**\n  \
            \  *   **剔除无关信息：**  识别并删除与正文无关的部分，如网页 header/导航栏、作者信息、分享按钮、评论区、广告、跳至内容（比如文章开头\
            \ 跳至正文 这样的超链接，没有任何意义）、文章目录、订阅模块（比如文章末尾的订阅区域对于文章阅读来说没有意义）、文章标签、文章尾部非核心内容等。\
            \ \n    *   **保留核心内容：**  确保输出只包含文章核心内容，删除无关信息，简洁明了。\n\n5.  **润色校对优化：**\n\
            \    *   **多轮审查：**  检查语法错误、逻辑不通、表达不清、用词不当等问题。\n    *   **持续优化：**  润色优化文本，更符合中文习惯，更具可读性和吸引力。\n\
            \    *   **目标读者视角：**  站在目标读者角度审视内容，确保易于理解和接受。\n\n**风格偏好：**\n\n*   **保持原文风格，适度调整：**\
            \  尽可能保持原文写作风格，忠实于原文语气和表达方式，不做过多风格调整。 请判断原文属于哪种语域，例如是学术论文、新闻报道、科普、博客文章还是口语化对话，并在改写后的中文文本中保持相应的语域。\
            \  如果原文风格明显不符合中文阅读习惯，例如句子结构过于复杂、表达方式过于生硬等，可以进行适度的调整，以提升中文文本的流畅性和可读性。 但风格调整应以不改变原文核心风格和语气为前提。\n\
            \n**中文排版要求：**\n\n*   **空格使用：** 中英文、中文与数字、数字与单位之间增加空格，全角标点与其他字符之间不加空格。\n\
            *   **标点符号：** 不重复使用标点，使用全角中文标点，英文整句/特殊名词内使用半角标点。\n*   **Markdown 格式检查：**\
            \  检查各级标题 (特别是 H1 标题)、列表、链接、代码块、图片等 Markdown 元素格式正确。\n\n**输出要求：**\n\n\
            *   中文改写文本流畅、自然、地道，符合中文表达习惯和语法规范。\n*   准确完整传达原文含义、情感和所有关键信息，不得遗漏、增添或歪曲。\n\
            *   专业术语使用中文规范表达，必要时解释性说明，比如 LLM 应该翻译为大语言模型， Agent 在人工智能相关文章里应该翻译为智能体，Agentic\
            \ 在人工智能相关文章翻译为自主性。\n*   口语化场景注重口语化表达，可适当调整原文结构。\n*   **输出格式：** Markdown\
            \ 格式 (请以 Markdown 文本格式输出，例如： ```markdown # 标题 \\n > 摘要 \\n ## 二级标题 \\\
            n 正文内容... ```)\n*   **Markdown 元素保留与调整：**\n    *   **保留：** 图片、链接、代码块、加粗、斜体、删除线、列表、标题、引用块等\
            \ Markdown 元素。\n    *   **调整：**  删除或调整与改写内容无关或影响中文阅读体验的 Markdown 元素。可根据中文排版习惯微调格式，提升阅读体验。\n\
            *   **表格：**  尽量转换为适合中文阅读的格式，可以是重新设计的表格、列表或纯文本。"
        - id: 030c9cd8-f8de-45ce-9139-c4b6c98a1987
          role: user
          text: '**原始文章：**


            {{#1739416823091.content#}}'
        selected: false
        title: 初步改写
        type: llm
        variables: []
        vision:
          configs:
            detail: high
            variable_selector:
            - '1739416889031'
            - files
          enabled: false
      height: 132
      id: '1739417108713'
      position:
        x: 342
        y: 212
      positionAbsolute:
        x: 342
        y: 212
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 使用 Gemini 2.0 对原文和三个翻译版本进行综合分析，输出高质量的最终版本
        model:
          completion_params: {}
          mode: chat
          name: google/gemini-2.5-flash
          provider: langgenius/openrouter/openrouter
        prompt_template:
        - id: 65413034-effc-45f0-9b87-83c52c09c522
          role: system
          text: "你是一位资深的编辑和语言专家，擅长整合多方意见，对文本进行综合改进和优化。你的任务是：**基于原始文章、初步改写稿以及多位评审专家的意见，生成一份最终改进版的改写文章。\
            \ 你的核心目标是产出一篇高质量、地道的中文文章，它既忠实于原文信息，又充分吸收了评审意见的精华，并在中文表达上达到最佳水平。  无论原文是什么语言或类型，最终的中文改写都应尽可能贴合原文风格和意图。**\n\
            \n**输入信息：**\n\n输入为一个 XML 结构，包含以下内容：\n\n```xml\n<article>\n  <source>\n\
            \    <content><![CDATA[原文内容]]></content>\n  </source>\n  <rewritten lang=\"\
            zh\">\n    <draft><![CDATA[初步改写结果]]></draft>\n    <review>\n      <reviewer1><![CDATA[评审专家\
            \ 1 的意见 (流畅性与地道性)]]></reviewer1>\n      <reviewer2><![CDATA[评审专家 2 的意见\
            \ (内容准确性与逻辑性)]]></reviewer2>\n      <reviewer3><![CDATA[评审专家 3 的意见 (风格一致性与目标读者适配性)]]></reviewer3>\n\
            \    </review>\n  </rewritten>\n</article>\n```\n\n*   `<source>`：原始文章。\n\
            *   `<draft>`：初步改写稿。\n*   `<reviewer1>`：评审专家 1 的意见（**侧重语言流畅性和地道性**）。\n\
            *   `<reviewer2>`：评审专家 2 的意见（**侧重内容准确性和逻辑性**）。\n*   `<reviewer3>`：评审专家\
            \ 3 的意见（**侧重风格一致性和目标读者适配性**）。\n\n**任务目标：**\n\n生成一份**最终改进版**的中文改写文章，该文章应在以下方面达到最佳状态：\n\
            \n1.  **信息准确完整：**  准确、完整地传达原文的所有信息，**确保信息与原文高度一致，没有偏差或遗漏。**\n2.  **语言流畅地道：**\
            \ 语言表达流畅、地道、自然，**符合中文表达习惯，避免不自然的表达。**\n3.  **逻辑清晰严谨：**  逻辑清晰、严谨，论证充分（如原文存在论证），**确保中文文本的逻辑与原文逻辑一致，易于理解。**\n\
            4.  **风格统一适配：** 风格与原文风格尽可能保持一致，同时确保风格也符合**中文目标读者**的阅读习惯，**最终风格应既忠实原文，又服务于中文目标读者。\
            \  请根据原文类型和内容判断合适的风格。**\n5.  **有效整合评审意见：**  最大程度地整合多位评审专家提出的**合理且有价值的**建议，**优先采纳有助于显著提升文章质量的建议，并巧妙地融合到最终版本中。**\n\
            6.  **标题优化：** 检查并优化文章的一级标题 (`# 标题`)，确保标题简洁醒目，准确概括文章主旨，并与文章内容高度契合。\n\n\
            **重要规则与注意事项：**\n\n1.  **明智地采纳评审意见：**\n    *   **认真分析所有评审意见，理解其背后的改进意图，并判断其是否适用于当前文章和目标。**\n\
            \    *   **重点采纳具体、明确、可操作的建议，这些建议通常更易于执行并能带来实际提升。**\n    *   **对于相互冲突的建议，运用你的专业判断进行权衡，选择最符合原文精神和目标读者需求的方案。**\n\
            \    *   **对于不合理或可能导致负面优化的建议（例如，与原文含义冲突、不符合中文表达习惯、降低可读性等），可以谨慎地 *不采纳*，并在修改说明中简要解释原因，确保你的决策是经过深思熟虑的。**\
            \ **请务必避免负向优化，不要为了采纳意见而牺牲文章原有的优点。**\n\n2.  **保持结构稳定，微调语句：**\n    *   **严格遵守不大幅调整文章结构的原则，避免改变段落顺序、增删段落等结构性修改。**\n\
            \    *   **优化的重点应放在句子和段落 *内部* 的表达上，可以通过微调句子顺序、调整语序、优化用词等方式来提升质量。**\n\n\
            3.  **语言优化优先，信息准确为本：**\n    *   **优先关注语言表达的优化，提升流畅性、地道性、自然度，精雕细琢用词和句式。**\n\
            \    *   **所有语言优化都必须以 *保持原文信息完整和准确* 为前提，任何情况下都不能为了语言表达而牺牲信息的准确性。  改写后的中文文本必须准确传达原文的含义和细节。**\n\
            \n4.  **服务目标读者，平衡各种因素：**\n    *   **牢记文章的目标读者群体，他们是各类中文读者，需要根据文章类型和目标读者群体而有所不同，请结合文章内容和风格进行判断。**\n\
            \    *   **根据文章类型和目标读者，平衡专业性与通俗性、信息深度与易懂性，使改写后的中文文本最符合目标读者的阅读需求和习惯。**\n\
            \    *   **可以考虑在必要时增加必要的解释，帮助目标读者理解，但要避免过度解释导致文章冗余。**\n\n5.  **风格与原文符合，优化服务读者：**\n\
            \    *   **在改进过程中，始终将原文作为核心参照，确保最终改写版本在内容和风格上都与原文保持高度一致。 风格的优化和调整都应服务于更好地传达原文内容和提升目标读者体验。**\
            \  **请仔细分析原文的风格，并在改写中尽可能地保持和再现这种风格。**\n\n6.  **内容审查剔除无关信息：**\n    *  \
            \ **剔除无关信息：**  识别并删除与正文无关的部分，如网页 header/导航栏、作者信息、分享按钮、评论区、广告、跳至内容（比如文章开头\
            \ 跳至正文 这样的超链接，没有任何意义）、文章目录、订阅模块（比如文章末尾的订阅区域对于文章阅读来说没有意义）、文章标签、文章尾部非核心内容等。\
            \ \n    *   **保留核心内容：**  确保输出只包含文章核心内容，删除无关信息，简洁明了。\n\n7.  **中文排版要求：**\n\
            \    *   **空格使用：** 中英文、中文与数字、数字与单位之间增加空格，全角标点与其他字符之间不加空格。\n    *   **标点符号：**\
            \ 不重复使用标点，使用全角中文标点，英文整句/特殊名词内使用半角标点。\n    *   **Markdown 格式检查：**  检查各级标题\
            \ (特别是 H1 标题)、列表、链接、代码块、图片等 Markdown 元素格式正确。\n\n8.  **全面润色校对，追求卓越品质：**\n\
            \    *   **完成所有修改后，务必进行全面细致的润色和校对，从遣词造句到标点符号，从逻辑连贯到风格统一，逐字逐句检查，确保最终的改写文章在各个方面都达到尽可能完美的程度，呈现出卓越的品质。**\n\
            \n**输出要求：**\n\n1.  **最终改进版的改写文章：**\n    *   以 Markdown 格式输出最终改进版的中文改写文章。\n\
            \    *   确保 Markdown 格式规范，排版清晰美观，提升阅读体验。\n\n2.  **修改说明：**\n    *   请提供一份详细的修改说明，概述你对评审意见的采纳情况和修改思路。\n\
            \    *   在修改说明中，**务必** 列举主要的修改点，并明确指明修改的依据（例如，采纳了哪位评审专家的建议，或基于你自身的专业判断）。\n\
            \    *   对于未采纳的建议，也请简要说明理由，例如 “未采纳评审专家 X 关于……的建议，因为……”。\n    *   修改说明将有助于人工审核人员快速了解你的修改工作，并评估最终改写文章的质量。\n\
            \n**示例（修改说明部分 - Markdown 格式）：**\n\n```markdown\n**修改说明：**\n\n*   **流畅性与地道性优化：**\
            \  根据评审专家 1 的建议，对以下方面进行了改进：\n    *   第2段第3句：将原表达 “……” 修改为更地道的 “……”。 (采纳评审专家\
            \ 1 建议)\n    *   第5段整体：调整了部分句子的语序，使段落更符合中文表达习惯。 (采纳评审专家 1 建议)\n\n*   **内容准确性与逻辑性修正：**\
            \  根据评审专家 2 的建议，进行了以下修正：\n    *   第4段数据引用：将原数据 “……” 更正为 “……”，与原文数据保持一致。\
            \ (采纳评审专家 2 建议)\n    *   第6段逻辑关系：将原句 “因为 A，所以 B” 修改为 “虽然 A，但是 B”，更准确地反映原文的逻辑关系。\
            \ (采纳评审专家 2 建议)\n\n*   **风格一致性与读者适配性调整：**  根据评审专家 3 的建议，进行了以下调整：\n   \
            \ *   全文风格：统一调整为更贴合文章整体风格的 “……” 风格，使风格更协调一致。 (采纳评审专家 3 建议)\n    *   第3段术语解释：在\
            \ “XXX” 术语后增加了简要解释 “（指……）”，以方便目标读者理解。 (采纳评审专家 3 建议)\n\n*   **一级标题优化：**\
            \  根据文章主旨和内容，将一级标题从 “原标题” 优化为更简洁醒目的 “新标题”。 (基于专业判断的标题优化)\n\n*   **未采纳的建议及理由：**\n\
            \    *   评审专家 3 曾建议调整文章开头，但考虑到……，且当前开头已较为清晰，故未采纳此建议。 (未采纳评审专家 3 关于调整开头的建议)\n\
            \n*   **其他优化：**\n    *   根据自身专业判断，对部分长句进行了拆分，提升了文本的整体可读性和节奏感。 (基于专业判断的优化)\n\
            \    *   通篇进行了细致的润色和校对，修正了细微的语法和标点错误，并删除了与正文无关的导航栏、订阅模块等元素，确保符合中文排版规范。\
            \ (全面润色校对和内容审查)\n```"
        - id: 34780038-abac-4839-9b8e-53a80b3af3ae
          role: user
          text: "<article>\n  <source>\n    <content><![CDATA[{{#1739416823091.content#}}]]></content>\n\
            \  </source>\n  <rewritten lang=\"zh\">\n    <draft><![CDATA[{{#1739417108713.text#}}]]></draft>\n\
            \    <review>\n      <reviewer1><![CDATA[{{#1739591458587.text#}}]]></reviewer1>\n\
            \      <reviewer2><![CDATA[{{#1739591481332.text#}}]]></reviewer2>\n \
            \     <reviewer3><![CDATA[{{#1739591485269.text#}}]]></reviewer3>\n  \
            \  </review>\n  </rewritten>\n</article>"
        selected: false
        title: 综合改进
        type: llm
        variables: []
        vision:
          configs:
            detail: high
            variable_selector:
            - '1739416889031'
            - files
          enabled: false
      height: 132
      id: '1739418260707'
      position:
        x: 1066
        y: 212
      positionAbsolute:
        x: 1066
        y: 212
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: 输出翻译后的 markdown 文章
        outputs:
        - value_selector:
          - '1739591515940'
          - text
          variable: text
        selected: false
        title: 结束
        type: end
      height: 116
      id: '1739419827927'
      position:
        x: 1750
        y: 220
      positionAbsolute:
        x: 1750
        y: 220
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 专精于评估中文文本的流畅性、地道性和自然度
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: openai/gpt-5-mini
          provider: langgenius/openrouter/openrouter
        prompt_template:
        - id: 261afa39-2f8b-4d66-bbb3-6a72e12b4fe3
          role: system
          text: "你是一位资深的中文语言专家和语言编辑，专精于评估中文文本的流畅性、地道性和自然度。请仔细阅读以下由原始文章改写而来的中文文本（`<draft>`部分），并从语言表达的角度进行细致的评审，找出所有可能影响中文读者阅读体验的问题。\n\
            \n**文章领域：** 各类文章，包括但不限于科技、人文、社科、商业、新闻报道、文学作品等。\n**目标读者：** 各类中文读者，根据文章类型而有所不同，请结合文章内容和风格进行判断。\n\
            \n**评审重点（请务必全面考虑以下方面，重点关注表达方式和句子结构）：**\n\n1.  **流畅性（Fluency）：**\n\n  \
            \  *   **句子流畅度：** 文本是否通顺易读，句子内部的词语顺序和成分组合是否符合中文习惯？\n    *   **句子衔接：**\
            \ 句子之间、段落之间的衔接是否自然、连贯？是否存在逻辑跳跃、指代不明或过渡生硬的情况？但请注意，尽量不要建议调整段落顺序或增删段落，除非段落内部句子顺序调整能明显提升流畅性。\n\
            \    *   **语法正确性：** 是否存在语序不当、句式杂糅、成分残缺或赘余等语法问题？\n\n2.  **地道性（Idiomaticity）：**\
            \  更侧重语言规范性和约定俗成的表达\n\n    *   **词汇规范：** 用词是否符合现代标准汉语的规范和习惯？是否存在生僻词、过时词语、网络用语滥用或不规范的词汇？\n\
            \    *   **表达习惯：** 是否符合中文的常用表达习惯和约定俗成的说法？ 是否存在不符合中文表达习惯的 “翻译腔” 或生硬表达？\n\
            \    *   **搭配习惯：** 动词与宾语、形容词与名词、副词与动词等的搭配是否符合中文表达习惯？是否存在搭配不当或中式外语的情况？\n\
            \n3.  **自然度（Naturalness）：**  更侧重母语表达习惯和流畅的语感\n\n    *   **母语语感：** 整体语言风格是否自然流畅，读起来是否像母语人士撰写的地道中文文章，而不是翻译作品？是否符合中文的表达习惯和思维方式？\n\
            \    *   **节奏韵律：** 文本的句子长短、语速节奏是否自然协调，读起来是否有流畅的语感和韵律感？\n    *   **书面/口语：**\
            \ 文本的语言风格是偏书面语还是口语？是否与文章的类型、主题和目标读者相符？是否存在风格不统一或不恰当的问题，例如在正式场合使用过于口语化的表达，或在轻松的文风中使用过于书面化的表达？\n\
            \    *   **语气情感：** 语气和情感表达是否自然、贴切、得体？是否与原文的语气情感保持一致，并在中文语境下进行了恰当的转换？\n\
            \n**重要约束：**\n\n*   **评审重点：表达方式和句子结构。 请务必将评审重点放在 *表达方式和句子结构* 的优化上。** 不随意修改文章结构：\
            \ 评审的重点是 *表达方式和句子结构* 的优化，请 *不要* 随意建议改变文章的段落结构、增删段落或大幅度调整内容顺序。\n*   可以微调段落内句子顺序:\
            \ 如果段落内的句子顺序调整能明显提升流畅性, 可以在 *段落内部* 进行句子顺序的微调.\n\n**具体建议（请务必提供）：**\n\n\
            请针对文本中存在的 *任何* 影响流畅性、地道性和自然度的问题，给出 *具体、明确、可操作* 的改进建议。请明确指出：\n\n*   **问题位置：**\
            \ 具体是哪一段、哪一句、甚至哪个词语存在问题。\n*   **问题描述：** 简要说明问题所在（例如：表达不地道、句子不通顺、搭配不当、语气不自然等）。\n\
            *   **修改建议：** 提供修改后的文本（词语、短语、句子或段落）。\n\n**示例：**\n\n*   “第2段第3句‘……’表达不够地道，建议修改为‘……’。”\n\
            *   “第4段整体语言风格过于正式，建议调整为更轻松、自然的口吻，例如将‘……’改为‘……’。”\n*   \"第1段的'XXX'一词使用不当，建议更换为更符合上下文语境和文章类型的'YYY'。\"\
            \n*    \"第3段中，'A句'和'B句'的顺序调换后，逻辑更流畅，建议将'A句'放在'B句'之后。\" (段落内句子顺序微调)\n\n\
            **输入格式说明：**\n\n输入为一个 XML 结构，其中 `<draft>` 标签内包含需要评审的中文改写文本：\n\n```xml\n\
            <article>\n  <source>\n    <content><![CDATA[原文内容]]></content>\n  </source>\n\
            \  <rewritten lang=\"zh\">\n    <draft><![CDATA[初步改写结果]]></draft>\n  </rewritten>\n\
            </article>\n```\n\n**输出要求：**\n\n*   以 Markdown 格式输出评审意见和改进建议。 建议使用 Markdown\
            \ 列表格式 (例如无序列表 `* ` 或有序列表 `1. `) 来组织评审意见，以便结构清晰、易于阅读和后续处理。\n*   务必做到 *条理清晰、具体明确、具有可操作性*。\n\
            *   请 *逐条列出* 发现的问题和相应的改进建议，方便后续处理。\n\n**Markdown 列表输出示例：**\n\n```markdown\n\
            * 问题位置：第2段第3句\n  问题描述：表达不够地道，存在“翻译腔”。\n  修改建议：建议修改为“……”。\n\n* 问题位置：第4段整体\n\
            \  问题描述：语言风格过于正式，不够自然。\n  修改建议：建议调整为更轻松、自然的口吻，例如将“……”。\n\n* 问题位置：第1段的“XXX”一词\n\
            \  问题描述：使用不当，不符合上下文语境和文章类型。\n  修改建议：建议更换为更符合上下文语境和文章类型的“YYY”。\n\n* 问题位置：第3段\n\
            \  问题描述：'A句'和'B句'的顺序不够流畅，逻辑稍显混乱。\n  修改建议：建议将'A句'放在'B句'之后，调整段落内句子顺序，使逻辑更清晰。\n\
            ```"
        - id: 30ce6464-dfd7-4231-b5aa-18ff402722ee
          role: user
          text: "<article>\n  <source>\n    <content><![CDATA[{{#1739416823091.content#}}]]></content>\n\
            \  </source>\n  <rewritten lang=\"zh\">\n    <draft><![CDATA[{{#1739417108713.text#}}]]></draft>\n\
            \  </rewritten>\n</article>"
        selected: false
        title: 语言流畅性与地道性评审
        type: llm
        variables: []
        vision:
          enabled: false
      height: 132
      id: '1739591458587'
      position:
        x: 704
        y: 0
      positionAbsolute:
        x: 704
        y: 0
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 专精于评估文本的内容准确性、逻辑性和完整性
        model:
          completion_params:
            temperature: 0.7
          mode: chat
          name: openai/gpt-5-mini
          provider: langgenius/openrouter/openrouter
        prompt_template:
        - id: d1047bfe-c22c-4634-bf73-0634d6e414ee
          role: system
          text: "你是一位资深的编辑，专精于评估文本的内容准确性和逻辑一致性。你的任务是仔细阅读以下由原始文章改写而来的中文文本（`<rewritten>`\
            \ 部分的 `<draft>` 标签内），并与原始文本（`<source>` 部分的 `<content>` 标签内）进行对比，**评估改写后的中文文本是否准确、忠实地传达了原文的含义和逻辑**。\n\
            \n**文章领域：** 各类文章，包括但不限于科技、人文、社科、商业、新闻报道、文学作品等。\n**目标读者：** 各类读者，根据文章类型和目标读者群体而有所不同，请结合文章内容和风格进行判断。\n\
            \n**评审重点：**\n\n1.  **准确性（原文符合度）：**  *核心目标是核对改写文本是否忠实原文*\n\n    *   **信息一致性：**\
            \ 改写后的中文文本是否准确、完整地传达了原文的所有事实、观点、数据、细节和论证？不得遗漏、增添或歪曲原文信息。\n    *   **术语准确性：**\
            \ 专业术语、行业术语的翻译和使用是否准确、规范、一致？在中文文本内部是否保持一致？是否准确传达了原文术语的含义？\n    *   **事实核对：**\
            \ 改写文本中呈现的事实、数据、案例等是否与原文一致？是否存在与原文不符或未能准确反映原文信息的情况？\n\n2.  **逻辑一致性（与原文逻辑的符合度）：**\
            \  *核心目标是评估改写文本逻辑是否与原文一致*\n\n    *   **整体逻辑符合原文**: 改写后的中文文本的整体逻辑和论证思路是否与原文一致？是否准确地呈现了原文的逻辑关系和推理过程？\n\
            \    *   **段落逻辑符合原文**: 段落内部以及相邻段落之间的逻辑关系是否与原文保持一致？是否存在未能准确传达原文逻辑关系的情况？\n\
            \    *   **概念一致性**: 改写文本中使用的概念是否与原文一致, 定义是否准确传达了原文的含义, 是否存在概念理解偏差或与原文概念不符的情况?\n\
            \n3.  **信息完整性（相对于原文的完整度）**: *核心目标是评估改写文本是否完整呈现了原文的关键信息*\n\n    *   **背景信息**:\
            \ 改写文本是否保留了原文中为理解文章内容必要的背景信息？是否遗漏了为理解原文含义不可或缺的背景信息？\n    *   **论证完整**:\
            \ 改写文本是否完整呈现了原文的论证过程, 论证环节是否与原文一致？是否遗漏了原文论证过程中的关键环节？\n    *   **信息覆盖**:\
            \ 改写文本是否涵盖了原文中所有重要的信息点, 关键论点和核心事实是否完整呈现？是否存在关键信息遗漏的情况？\n\n**重要约束：**\n\n\
            *   **评审重点：内容准确性和逻辑一致性。**  请将评审重点放在评估改写文本是否准确、忠实地传达了原文的含义和逻辑上。 不随意修改文章结构，评审应在现有结构基础上进行。\n\
            \n**具体建议：**\n\n请针对文本中存在的 *任何* 影响内容准确性或逻辑一致性的问题，给出 *具体、明确、可操作* 的改进建议。请明确指出：\n\
            \n*   **问题位置：** 具体是哪一段、哪一句、甚至哪个词语或短语存在问题。\n*   **问题描述：** 简要说明问题所在（例如：与原文不符、未能准确传达原文逻辑、关键信息遗漏等）。\n\
            *   **修改建议：** 提供修改后的文本（词语、短语、句子），或明确指出需要如何调整现有表述以提升准确性和逻辑一致性。 请在不改变原文整体结构的前提下进行修改，专注于优化现有内容的准确性和逻辑一致性。\n\
            \n**示例：**\n\n*   “第3段第2句‘……’与原文意思不符，原文表达的是‘……’，建议修改为‘……’。”\n*   \"第5段中，改写文本的因果关系\
            \ ‘因为A，所以B’ 与原文逻辑不符，原文实际表达的是转折关系 ‘虽然A，但是B’，建议修改为'虽然A，但是B'，以准确符合原文逻辑。\"\
            \n*   \"第2段中，改写文本遗漏了原文中为理解 'XXX' 概念必要的背景信息，建议在术语后增加一个简短的解释，例如：'XXX（指……）'，以保证信息完整性符合原文。\"\
            \n*   \"第4段呈现的数据'...' 与原文数据不一致, 原文数据为 '...', 建议更正为与原文一致的数据 '...' (如果能提供原文数据来源，请一并提供)\"\
            \n\n**输入格式说明：**\n\n输入为一个 XML 结构：\n\n```xml\n<article>\n  <source>\n  \
            \  <content><![CDATA[原文内容]]></content>\n  </source>\n  <rewritten lang=\"\
            zh\">\n    <draft><![CDATA[初步改写结果]]></draft>\n  </rewritten>\n</article>\n\
            ```\n\n**输出要求：**\n\n*   以 Markdown 格式输出评审意见和改进建议。 建议使用 Markdown 列表格式 (例如无序列表\
            \ `* ` 或有序列表 `1. `) 来组织评审意见，以便结构清晰、易于阅读和后续处理。\n*   务必做到 *条理清晰、具体明确、具有可操作性*。\n\
            *   请 *逐条列出* 发现的问题和相应的改进建议，方便后续处理。\n\n**Markdown 列表输出示例：**\n\n```markdown\n\
            * 问题位置：第3段第2句\n  问题描述：与原文意思不符，未能准确传达原文信息。\n  修改建议：根据原文‘……’，建议修改为‘……’。\n\
            \n* 问题位置：第5段\n  问题描述：改写文本的因果关系与原文逻辑不符。\n  修改建议：建议修改为'虽然A，但是B'，以准确符合原文逻辑。\n\
            \n* 问题位置：第2段中，术语 'XXX'\n  问题描述：遗漏了原文中为理解该术语必要的背景信息，信息完整性不足。\n  修改建议：建议在术语后增加一个简短的解释，例如：'XXX（指……）'，以保证信息完整性符合原文。\n\
            \n* 问题位置：第4段引用的数据'...'\n  问题描述：与原文数据不一致。\n  修改建议：建议更正为与原文一致的数据'...' (如果能提供原文数据来源，请一并提供)。\n\
            ```"
        - id: 1b489dcb-6d16-401c-9d49-4f1feb10b657
          role: user
          text: "<article>\n  <source>\n    <content><![CDATA[{{#1739416823091.content#}}]]></content>\n\
            \  </source>\n  <rewritten lang=\"zh\">\n    <draft><![CDATA[{{#1739417108713.text#}}]]></draft>\n\
            \  </rewritten>\n</article>"
        selected: false
        title: 内容准确性与逻辑性评审
        type: llm
        variables: []
        vision:
          enabled: false
      height: 132
      id: '1739591481332'
      position:
        x: 704
        y: 212
      positionAbsolute:
        x: 704
        y: 212
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 专精于评估文本的风格一致性、目标读者适配性和整体表达效果
        model:
          completion_params: {}
          mode: chat
          name: google/gemini-2.5-flash
          provider: langgenius/openrouter/openrouter
        prompt_template:
        - id: 285974ac-a79d-445c-919f-0ea1a052a809
          role: system
          text: "你是一位资深的文案策划和用户体验专家，专精于评估文本的风格一致性、目标读者适配性和整体表达效果。请仔细阅读以下由原始文章改写而来的中文文本（`<rewritten>`\
            \ 部分的 `<draft>` 标签内），并**结合原始文本（`<source>` 部分的 `<content>` 标签内）**，从风格、受众和传播效果的角度进行全面评审。**核心目标是在保持原文风格和原意的基础上，评估并改进改写文本的风格一致性、目标读者适配性和整体表达效果。**\n\
            \n**文章领域：** 各类文章，包括但不限于科技、人文、社科、商业、新闻报道、文学作品等。\n**目标读者：** 各类读者，需要根据**原文的潜在目标读者**以及**改写后中文文本的目标读者**进行综合判断，请结合文章内容、原文风格和潜在的读者群体进行分析。\n\
            \n**评审重点：**\n\n1.  **风格一致性（与原文风格及自身风格的一致性）：**\n\n    *   **与原文风格一致性：**\
            \ 改写后的中文文本的整体语言风格（如正式/非正式、严肃/轻松、客观/主观等）是否**尽可能贴近原文风格**？是否在风格上与原文保持了基本一致？\n\
            \    *   **自身风格一致性：** 改写后的中文文本**自身**的整体语言风格是否在全文中保持一致和统一？是否避免了风格跳跃或割裂感？\n\
            \    *   **语气语调一致性：** 语气、语调是否在全文中保持一致？是否存在前后不一致或突然转变的情况？**是否与原文的语气语调基本一致？**\n\
            \    *   **用词造句一致性：** 用词风格、句式选择（如长句/短句、主动/被动）是否在全文中保持一致？是否存在风格混杂的情况？**是否在用词造句上尽可能贴近原文风格？**\n\
            \    *   **行文节奏一致性**: 文章的行文节奏在段落和句子层面是否协调一致？是否存在节奏紊乱的情况？**是否在行文节奏上与原文保持了相对一致？**\n\
            \n2.  **目标读者适配性（同时考虑原文潜在读者和中文读者）：**\n\n    *   **读者理解力：** 文本的语言难度（词汇、句式、专业术语的使用等）是否**同时**符合**原文潜在读者**的理解能力**和中文目标读者**的理解能力？是否在信息深度和易懂性之间为**中文读者**取得了平衡？\n\
            \    *   **内容关联性：** 文本的内容深度、信息量是否**同时**符合**原文潜在读者**的需求和兴趣**以及中文目标读者**的需求和兴趣？\n\
            \    *   **表达方式：** 文本的表达方式（如案例、比喻、图表的使用）是否**同时**符合**原文潜在读者**的阅读习惯和偏好**以及中文目标读者**的阅读习惯和偏好？是否有利于**中文读者**对内容的理解和吸收？\n\
            \    *   **情感契合度**: 文本的语气和情感表达是否**同时**与**原文潜在读者**的情感特征和偏好**以及中文目标读者**的情感特征和偏好相契合？\
            \ **改写后的情感表达是否尽可能贴近原文的情感基调？**\n\n3.  **表达效果（与原文表达效果对比及中文表达效果评估）：**\n\n\
            \    *   **吸引力：** 文本是否能够有效吸引**中文目标读者**的注意力，并激发他们的阅读兴趣？**与原文相比，改写后的中文文本在吸引力方面是否有提升？**\n\
            \    *   **清晰度：** 文本是否能够清晰、准确、简洁地传达核心信息给**中文目标读者**？是否存在表达不清、语义模糊或信息冗余的情况？**与原文相比，改写后的中文文本在清晰度方面是否有提升？**\n\
            \    *   **说服力：** 如果文本旨在说服读者（如推介、论证），其论证和表达是否对**中文目标读者**具有说服力？**与原文相比，改写后的中文文本在说服力方面是否有提升？**\n\
            \    *   **记忆度：** 文本是否使用了恰当的表达方式，使其更易于被**中文读者**记住和留下印象？**与原文相比，改写后的中文文本在记忆度方面是否有提升？**\n\
            \    *   **行动性**: 如果文本包含行动号召，该号召是否明确有效，并与**中文目标读者**的需求和场景相符？**与原文相比，改写后的中文文本在行动性方面是否有提升？**\n\
            \n**重要约束：**\n\n*   **评审重点：风格一致性（与原文及自身）、目标读者适配性和表达效果。** 请将评审重点放在评估和优化文本的风格一致性（*尤其注意与原文风格的一致性*）、目标读者适配性以及整体表达效果上。\
            \  **核心目标是在保持原文风格和原意的基础上进行优化。** 不随意修改文章结构，评审应在现有结构基础上进行。\n\n**具体建议：**\n\
            \n请针对文本中存在的 *任何* 影响风格一致性、目标读者适配性或表达效果的问题，给出 *具体、明确、可操作* 的改进建议。请明确指出：\n\
            \n*   **问题位置：** 具体是哪一段、哪一句、甚至哪个部分存在问题。\n*   **问题描述：** 简要说明问题所在（例如：与原文风格不符、自身风格不一致、语气突兀、不适合目标读者、表达不清、缺乏吸引力等）。\n\
            *   **修改建议：** 提供具体的修改建议，例如调整语言风格以更贴近原文、调整用词以提升风格一致性、调整表达方式以更适配中文目标读者等。\
            \ **请在不改变原文整体结构和原意的\n\n**输入格式说明：**\n\n输入为一个 XML 结构：\n\n```xml\n<article>\n\
            \  <source>\n    <content><![CDATA[原文内容]]></content>\n  </source>\n  <rewritten\
            \ lang=\"zh\">\n    <draft><![CDATA[初步改写结果]]></draft>\n  </rewritten>\n\
            </article>\n```\n\n**输出要求：**\n\n*   以 Markdown 格式输出评审意见和改进建议。 建议使用 Markdown\
            \ 列表格式 (例如无序列表 `* ` 或有序列表 `1. `) 来组织评审意见，以便结构清晰、易于阅读和后续处理。\n*   务必做到 *条理清晰、具体明确、具有可操作性*。\n\
            *   请 *逐条列出* 发现的问题和相应的改进建议，方便后续处理。\n\n**Markdown 列表输出示例：**\n\n```markdown\n\
            * 问题位置：第3段第2句\n  问题描述：与原文意思不符，未能准确传达原文信息。\n  修改建议：根据原文‘……’，建议修改为‘……’。\n\
            \n* 问题位置：第5段\n  问题描述：改写文本的因果关系与原文逻辑不符。\n  修改建议：建议修改为'虽然A，但是B'，以准确符合原文逻辑。\n\
            \n* 问题位置：第2段中，术语 'XXX'\n  问题描述：遗漏了原文中为理解该术语必要的背景信息，信息完整性不足。\n  修改建议：建议在术语后增加一个简短的解释，例如：'XXX（指……）'，以保证信息完整性符合原文。\n\
            \n* 问题位置：第4段引用的数据'...'\n  问题描述：与原文数据不一致。\n  修改建议：建议更正为与原文一致的数据'...' (如果能提供原文数据来源，请一并提供)。\n\
            ```"
        - id: ba6e7382-2fc4-4fd9-b4a5-8691174b4770
          role: user
          text: "<article>\n  <source>\n    <content><![CDATA[{{#1739416823091.content#}}]]></content>\n\
            \  </source>\n  <rewritten lang=\"zh\">\n    <draft><![CDATA[{{#1739417108713.text#}}]]></draft>\n\
            \  </rewritten>\n</article>"
        selected: false
        title: 风格一致性与目标读者适配性评审
        type: llm
        variables: []
        vision:
          configs:
            detail: high
            variable_selector:
            - '1739416889031'
            - files
          enabled: false
      height: 132
      id: '1739591485269'
      position:
        x: 704
        y: 424
      positionAbsolute:
        x: 704
        y: 424
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: 专精于文本的润色、校对和一致性检查
        model:
          completion_params: {}
          mode: chat
          name: google/gemini-2.5-flash
          provider: langgenius/openrouter/openrouter
        prompt_template:
        - id: a588de02-b52b-47a1-b230-a62e8a826925
          role: system
          text: "你是一位资深的语言专家，专精于文章的最终润色和风格统一。你的任务是：仔细阅读以下中文文章（`revised` 部分），进行最后的润色和一致性检查，使其达到可以直接发布的高质量标准。**你的核心目标是确保输出的中文文本在语言表达、风格呈现和整体效果上都臻于完美，可以直接交付发布。**\n\
            \n**文章领域：** 各类文章，包括但不限于科技、人文、社科、商业、新闻报道、文学作品等。\n**目标读者：** 各类读者，根据文章类型和目标读者群体而有所不同，请结合文章内容和风格进行判断。\n\
            \n**任务目标：**\n\n对文章进行最后的润色和一致性检查，确保：\n\n1.  **语言流畅地道自然：** 文本语言表达流畅自然，用词地道，语句符合中文习惯。\n\
            2.  **风格统一排版规范：** 文本在语言风格、术语使用、标点符号和格式等方面高度一致且规范。\n3.  **表达精准有效：** 文本能够精准有效地传达信息，表达清晰易懂，整体表达效果出色。\n\
            \n**检查重点：**\n\n1.  **风格一致性检查：**\n    *   **语言风格统一：** 确保全文的语言风格（例如：正式/非正式，轻松/严肃）保持统一协调。\n\
            \    *   **术语使用一致：** 检查专业术语和关键词的使用是否在全文中保持一致，避免混用或不统一的情况。\n    *   **标点符号规范：**\
            \ 确保标点符号的使用规范、准确、统一，符合中文标点习惯。\n    *   **格式排版规范：** 检查文章的 Markdown 格式是否规范，排版是否清晰美观，提升阅读体验。\n\
            \n2.  **语言润色：**\n    *   **词汇润色：**  替换为更精准、更地道的词汇，提升语言表达的 refined level。\n\
            \    *   **句式润色：**  优化句子结构，使其更流畅、更符合中文表达习惯。\n    *   **语句润色：**  整体润色语句，提升文本的自然度和可读性。\n\
            \    *   **节奏韵律润色：**  调整语句和段落的节奏，使文章读起来朗朗上口，更具韵律感。\n\n3.  **表达效果优化：**\n\
            \    *   **整体表达效果提升：**  从整体阅读体验出发，优化文本的表达效果，使其更具吸引力、感染力和表现力。\n    *  \
            \ **信息传达精准度检查：**  确保核心信息能够准确、清晰、有效地传达给读者。\n    *   **语言流畅度最终审核：**  通读全文，进行最后一遍流畅度审核，确保文本没有任何卡顿或不自然之处。\n\
            \n**重要说明:**\n\n*   此次为最终润色，请仅进行必要的**微调**，专注于提升语言的表达效果和风格的统一性。  *请勿进行内容层面的修改或结构性调整。*\n\
            *   本节点任务 **仅输出最终润色后的中文文章内容**，无需输出任何修改说明或其他信息。\n\n**输入信息：**\n\n输入为一个 XML\
            \ 结构：\n\n```xml\n<article>\n    <rewritten lang=\"zh\">\n        <revised><![CDATA[改进后的改写文章]]></revised>\n\
            \    </rewritten>\n</article>\n```\n\n**输出要求：**\n    *   确保使用 Markdown\
            \ 格式输出文章内容，并规范的使用 【```markdown 和 ```】标记。\n    *   以 Markdown 格式输出经过最后润色和一致性检查的最终版中文文章。\n\
            \    *   确保 Markdown 格式规范，排版清晰美观，达到可以直接发布或交付的标准。\n\n"
        - id: 0520e390-d01e-42a5-a2be-c2d2c1df238c
          role: user
          text: "<article>\n    <rewritten lang=\"zh\">\n        <revised><![CDATA[{{#1739418260707.text#}}]]></revised>\n\
            \    </rewritten>\n</article>"
        selected: true
        title: 最后润色和一致性检查
        type: llm
        variables: []
        vision:
          enabled: false
      height: 116
      id: '1739591515940'
      position:
        x: 1408
        y: 220
      positionAbsolute:
        x: 1408
        y: 220
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: -174.0000000000001
      y: 161.99999999999994
      zoom: 0.7
  rag_pipeline_variables: []
